/*変数*/
:root{
    /* 余白 */
    --space-lg: 80px;
    --space-md: 40px;
    --space-sm: 24px;
    --space-xs: 16px;

    /* フォントサイズ */
    --font-xl: 48px;
    --font-lg: 32px;
    --font-md: 20px;
    --font-sm: 18px;
    --font-xs: 16px;

    /* カラー */
    --color-main:#20323f;   /* 濃い紺（ベース） */
    --color-sub:#185f77;    /* 青系（補助） */
    --color-accent:#d79748; /* オレンジ（アクセント） */
    --color-bg:#e5ecde;     /* 薄い背景 */

    --color-border:rgb(32 50 63 / 0.2); /* ← 透過で統一 */
    --color-sub-light: rgb(24 95 119 / 0.8);/* 透過補助　*/
    --color-accent-light: rgb(215 151 72 / 0.7); /* 透過アクセント */
    --color-bg-light: rgb(229 236 237 / 0.85); /* 透過背景 */
}

/*リセット*/
*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
    font-optical-sizing: auto; 
    font-weight:500;
    font-style: normal;
    font-size:var(--font-sm);
    line-height:1.8;   
}

h1{
    margin:0;
}

h1,h2{
    font-family: 'Noto Serif JP', serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    line-height:1.8;   
}

a{
    color:inherit;
    text-decoration:none;
}

.sp-break{
    display:inline;
}

/*統一ルール*/
.container{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    padding:0 24px;
}

.inner{
    max-width:900px;
    margin:0 auto;
    padding:0 20px;
}

/* 見出し　*/
.about__title,
.service__title,
.info__title,
.contact__title{
    font-size:var(--font-lg);
}

.about__text,.service__text{
    font-size:var(--font-sm);
    color:var(--color-sub-light);
}

/* 画像　*/
.about__image img,.service__image img{
    width:100%;
    border-radius:8px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 0.1);
}

/*リスト*/
.info__list dt,.info__list dd{
    border-bottom:1px solid var(--color-border);
    padding-bottom:12px;
}

/*ヘッダー*/
.header{
    position:sticky;
    top:0;
    background-color:var(--color-main);
    color:var(--color-bg);
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    z-index:10;
}

.header__logo{
    font-family: 'Noto Serif JP', serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    line-height:1.8;   
}

.header__toggle{
  display:none;
  font-size:24px;
  background:none;
  border:none;
  color:var(--color-bg);
  cursor:pointer;
}

.header__nav-list{
    list-style:none;
    justify-content:space-between;
    display:flex;
    gap:16px;
    margin:0;
    padding:0;
}

.header__nav-item a{
    color:#e5ecde;
    transition:0.3s;
}

.header__nav-item a:hover{
    color:var(--color-accent-light);
}

/*セクション*/
section{
    padding:var(--space-lg) 0;
}

section:nth-of-type(even){
    background-color:rgb(229 236 237 / 0.25);
}

section:nth-of-type(odd){
    background-color:transparent;
}

/*ヒーロー*/
.hero{
    text-align:center;
    padding:var(--space-lg) 0;
    background:linear-gradient(135deg, var(--color-bg),rgb(24 95 119 / 0.25));
}

.hero__inner {
    max-width: 600px;
    margin: 0 auto;
}

.hero__title{
    font-size:var(--font-xl);
    margin-bottom:40px;
    color:var(--color-main);
}

.hero__text{
    font-size:var(--font-md);
    color:var(--color-sub);
    max-width:520px;
    margin:0 auto;
    text-align:left;
    white-space:pre-line;
    letter-spacing:0.05em;
    line-height:1.8;
}

.hero__btn{
    display:inline-block;
    padding:12px 24px;
    margin-top:24px;
    background-color:var(--color-accent);
    color:var(--color-main);
    border-radius:4px;
    transition:0.3s;
}

.hero__btn:hover{
    background-color:var(--color-sub);
    color:var(--color-bg);
    transform:translateY(-2px);
}

/*会社概要*/
.about__content{
    display:block;
}

.about__title{
    margin-bottom:var(--space-md);
    text-align:center;
    color:var(--color-main);
}

.about__text{
    margin:0 auto 32px;
    max-width:500px;
    line-height:2;
    text-align:center;
    color:rgb(24 95 119 / 0.8);
}

.about__image{
    max-width:240px;
    margin:0 auto;
    margin-top:32px;
    transform: translateY(10px);
}

/*事業内容*/
.service{
    text-align:left;
}

.service__title{
    margin-bottom:var(--space-md);
    text-align:center;
    color:var(--color-main);
}

.service__content{
    display:flex;
    gap:32px;
    align-items:center;
}

.service__image{
    max-width:320px;
    transform: translateY(10px);
}

.service__text{
    flex:2;
    margin-bottom:var(--space-sm);
    max-width:500px;
    line-height:1.8;
    color:rgb(24 95 119 / 0.8);
}

.service__lead {
    margin-bottom:var(--space-sm);
    font-size:var(--font-sm);
    font-weight:inherit; 
    color: var(--color-sub-light);
}

.service__list{
    list-style:none;
    padding:0;
    margin:0;
}

.service__list li{
    font-size: var(--font-sm); 
    font-weight:450;
    margin-bottom:16px;
}

/*会社情報*/
.info{
    text-align:left;
}

.info__title{
    margin-bottom:var(--space-md);
    text-align:center;
    color:var(--color-main);
}

.info__list{
    margin:0;
    display:grid;
    grid-template-columns: 140px 1fr;
    gap: 16px 24px;
}

.info__list dt{
    font-weight:bold;
    font-size:var(--font-xs);
    letter-spacing:0.05em;
    border-bottom:none;
    text-align:left;
    color:var(--color-main);
}

.info__list dd{
    font-size:var(--font-sm);
    margin:0;
    text-align:left;
    color:var(--color-sub);
    line-height:1.6;
}

/*お問い合わせフォーム*/
.contact{
    text-align:center;
    padding:var(--space-lg) 0;
}

.contact__field{
    width:100%;
    max-width:400px;
}

.contact__title{
    margin-bottom:var(--space-md);
    text-align:center;
    color:var(--color-main);
}

.contact form{
    background:var(--color-bg-light);
    padding:40px;
    border-radius:8px;
    box-shadow:0 10px 30px rgb(0 0 0 /0.06);
    display:flex;
    flex-direction:column;
    gap:24px;
    align-items:center;
}

.contact label{
    display:block;
    margin-bottom:8px;
    color:var(--color-main);
}

.contact input, .contact textarea{
    width:100%;
    max-width:400px;
    padding:12px;
    border:1px solid var(--color-border);
    background:#fff;
    border-radius:4px;
}

.contact input:focus,.contact textarea:focus {
    outline:none;
    border:1px solid var(--color-accent);
    box-shadow:0 0 2px rgb(0 0 0 / 0.05);
}

.contact textarea{
    min-height:120px;
}

.contact button{
    padding:12px 24px;
    background-color:var(--color-accent);
    color:var(--color-main);
    border-radius:4px;
    border:none;
    cursor:pointer;
    transition:0.3s;
    width:200px;
}

.contact button:hover{
    background-color:var(--color-sub);
    color:var(--color-bg);
    transform:translateY(-2px);
}

/*レスポンシブデザイン*/
html{
    scroll-behavior:smooth;
    scroll-padding-top:100px;
}

/*タブレット対応*/
@media (max-width: 768px){
    .service__content{
        flex-direction:column;
        align-items:center;
    }

    .service__item{
        width:100%;
        max-width:400px;
    }

    .info__list{
        grid-template-columns:1fr;
        gap:8px;
    }

    .info__list dt{
        margin-top:18px;
    }

    .header__nav-list{
        display:none;
        flex-direction:column;
        position:absolute;
        top:80px;
        right:0;
        background-color:var(--color-main);
        padding:16px;
    }

    .header__nav-list.is-open{
        display:block;
    }

    .header__toggle{
        display:block;
    }
    
}

/*スマートフォン対応*/
@media (max-width: 480px){
    :root{
        --space-lg: 56px;
        --space-md: 32px;

        --font-xl: 32px;
        --font-lg: 24px;
        --font-md: 18px;
        --font-sm: 16px;
        --font-xs: 14px;
    }
    
    .container{
        padding:0 16px;
    }
    
    .about__title,
    .service__title,
    .info__title,
    .contact__title{
        font-size:var(--font-lg);
    }

    section{
        padding:24px 0;
    }

    body{
        line-height:1.8;
        font-size:var(--font-sm);
    }

    p{
        margin-bottom:16px;
    }

    .hero__inner{
        max-width:none;
        padding:0 16px;
    }

    .hero__title{
        font-size:var(--font-xl)
    }

    .hero__text{
        font-size:var(--font-sm);
        line-height:1.8;
    }

    .about__text{
        text-align:left;
        font-size:var(--font-sm);
        line-height:1.8;
    }

    .about__title{
        line-height:1.4;
    }

    .sp-break{
        display:block;
    }

    .about__image{
        max-width:100%;
    }

    .service__content{
        flex-direction:column;
        gap:24px;
    }

    .info__list{
        grid-template-columns:1fr;
        gap:8px;
    }

    .info__list dt{
        font-size:var(--font-xs);
        margin-top:16px;
    }

    .info__list dd{
        font-size:var(--font-sm);
        margin:0;
    }
}

/*フッター*/
.footer{
    background-color:var(--color-main);
    color:var(--color-bg);
    text-align:center;
    padding:8px 32px;
    font-family: 'Noto Serif JP', serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    line-height:1.5;  
}